[Desktop Entry]

Name=Falling Time
Comment=Fall through a labyrinth. Avoid getting crushed!
Icon=icon
Exec=falling_time
Terminal=false
Type=Application
StartupNotify=true
Categories=games;
